$color: #ddaa43;
$back_color : #f2f2f2;
body {
    background-color: $back_color;
}

.container {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 60%;
    margin-left: 20%;
    height: fit-content;
    margin-top: -100px;
    padding-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    padding-left: 30px;
    color: $color;
    display: inline;
}

div.panel {
    float: right;
}

#upvotes_count {
    float: left;
    line-height: 30px;
}

div.topbar {
    margin-top: 30px;
}

button.upvote {
    float: right;
    background-color: $color !important;
    color: white !important;
    border: 0;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    margin-right: 30px;
    margin-left: 20px;
}

button.upvoted {
    float: right;
    color: $color !important;
    background-color: white !important;
    border: 1;
    border-color: $color;
    border-style: solid;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    margin-right: 30px;
    margin-left: 20px;
}

div.author {
    margin-left: 35px;
    font-style: italic;
    font-size: 15px;
    text-align: left;
    padding-bottom: 40px;
}

#cover {
    text-align: center;
}

img.cover {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 0;
}

div.synopsis {
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 15px;
}

h5 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}