$color: #ddaa43;
$back_color : #f2f2f2;
body {
    background-color: $back_color;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 60%;
    margin-left: 20%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    margin-top: -10px;
    padding-top: 30px;
    color: $color;
    background-color: $back_color;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td {
    text-align: left;
    padding: 16px;
}

#book:nth-child(even) {
    background-color: $back_color;
}

#book:nth-child(odd) {
    background-color: white;
}

div h3 {
    color: $color;
    text-align: left;
    margin-left: 15px;
    font-size: 25px;
    display: inline;
}

div h5 {
    display: inline;
    margin-left: 10px;
}

img.cover {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 30px;
}

td {
    font-size: 15px;
}

td div {
    text-align: left;
}

div.author {
    margin-top: 10px;
    margin-left: 15px;
    font-style: italic;
    font-size: 15px;
}

div.synopsis {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button.upvote {
    background-color: $color !important;
    color: white !important;
    border: 0;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    margin-right: 20px;
}

button.upvoted {
    color: $color !important;
    background-color: white !important;
    border: 1;
    border-color: $color;
    border-style: solid;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    margin-right: 20px;
}
